{# templates/emails/registration.html.twig #}
<img style="text-align: center;" src="{{ logo }}">
<h3>Welcome to Digitrav</h3>

Hello {{ name }}! You're successfully registered.

<p>
    There is only one step left to activate your account.<br/>
    Click this link for validation to take advantage of all digitrav services.
</p>
<h4 >

    2019 Digitrav Inc All rights reserved<br />
</h4>





{# Makes an absolute URL to the /images/logo.png file #}


