

<h3>Account not validated!</h3>

Hello {{ name }}!

<p>
    Thank you for your interest in joining <a href="{{ url }}">Digitrav</a>.<br/>
    We have reviewed your application to join,<br/>
    and regret to inform you that we are unable to accept your registration at this time.<br/>
    You are free to update and resubmit your profile according to request documents.
</p>
<img style="text-align: center;" src="{{ logo }}">
<p>
    Sincerely,
    The Digitrav Support Team
</p>
<h4 >

    {{ date('now')|date("Y") }} Digitrav Inc All rights reserved<br />
</h4>





{# Makes an absolute URL to the /images/logo.png file #}


